<!DOCTYPE html>
<title>Ravintolasovellus</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <div class="header">
        <h1>Ravintolasovellus</h1>
    </div>
<div class="buttons">
<form action="/login" method="POST">
    <label for="username">Tunnus:</label>
    <input type="text" name="username"><br>
    <label for="password">Salasana:</label>
    <input type="password" name="password"><br>
    <input id="login-buttoN" type="submit" value="Kirjaudu">
</form>
</div>
Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>

</body>