<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ravintolasovellus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title>Ravintolasovellus</title>
</head>
<body>
  <div class="header">
    <h1>Ravintolasovellus</h1>
  </div>
  <br><br>
  {% if session.is_admin %}
  Olet kirjautunut sisään käyttäjänä <b>{{session.name}}</b> (ylläpitäjä).
  <br>
  <br>
  <div class="buttons">
  <form action="/new">
    <input type="submit" value="Lisää ravintola">
  </form>
  <hr>
  <form action="/user_list">
    <input type="submit" value="Selaa käyttäjiä">
  </form>
</div>
  {% else %}
  <b>Olet kirjautunut sisään käyttäjänä {{ session.name }}. </b>
  <br>
  <br>
  {% endif %}
  {% if length > 0 %}
  <div class="buttons">
  <form action="/rev_page" method="POST">
    <label for="suggestions">Valitse ravintola:</label>
    <datalist id="suggestions" name="restaurant">
      {% for item in restaurants %}
        <option value="{{ item[1] }}">{{item[1]}}</option>
      {% endfor %}
    </datalist>
    <input  autoComplete="on" list="suggestions" name="chosen_option"/> 
    <button type="submit">Lisää tietoa</button>
  </form>
  {% endif %}
</div>
<div class="list">
  <h3>Sovelluksesta löytyvät ravintolat:</h3>
  {% if length > 0 %}
    {% for item in reviews %}
    <b>{{item[0]}}</b> - <em>{{item[1]}}</em> - Arvosana: {{item[2]}} &#9733; ({{item[3]}} arvostelua)
    <br>
    {% endfor %}
  {% endif %}
</div>
<div class="buttons">
  <form action="/logout">
    <input type="submit" value="Kirjaudu ulos">
  </form>
</div>
</body>
</html>