<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <div class="header">
        <h1>Ravintolasovellus</h1>
    </div>
    <br>
    <h2>Luo tunnus</h2>
<div class="buttons">
<form action="/register" method="POST">
    <label for="username">Tunnus:</label>
    <input type="text" name="username"><br>
    <label for="password">Salasana:</label>
    <input type="password" name="password1"><br>
    <label for="password">Salasana uudelleen:</label>
    <input type="password" name="password2"><br>
    <input type="submit" value="Luo tunnus">
</form>
<br>
<form action="/">
    <input type="submit" value="Takaisin">
</form>
</div>
</body>
